.section.players{
    background-image: url('https://enterthearena.digitalsurgeons.com/img/bg-players.jpg');
    color: white;
    padding-top: 20px;
    padding-bottom: 90px;
}
.colPlayer h3 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -80px;
}
.colPlayer h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 35px;
    margin-top: 0px;
}
.colPlayer p {
    font-size: 18px;
    font-family: monospace;
    font-style: italic;
}

a.playerBtn {
    text-decoration: none;
    color: black;
    background: whitesmoke;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 25px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 20px;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: linear;

}

a.playerBtn:hover{
   width: 300px;
   height: 50px;
   background-color: red;
   color: white;
   text-align: center;
 
}

@-webkit-keyframes bounce-right {
    0% {
      -webkit-transform: translateX(48px);
              transform: translateX(48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateX(26px);
              transform: translateX(26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateX(13px);
              transform: translateX(13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateX(6.5px);
              transform: translateX(6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateX(4px);
              transform: translateX(4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-right {
    0% {
      -webkit-transform: translateX(48px);
              transform: translateX(48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateX(26px);
              transform: translateX(26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateX(13px);
              transform: translateX(13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateX(6.5px);
              transform: translateX(6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateX(4px);
              transform: translateX(4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }


@media screen and (max-width: 768px) {
    .colPlayer h1{
        font-size: 40px;
    }
   
}